html, body{
    height:990px;
    width:100%;
    margin:0px;
  }

.body_left{
    display: inline-block;
  
}  

.body_right{
  display: inline-block;
  position: absolute;
  float:right;
  margin:3px;
  margin-top:7px;
  height:900px;
  width:1260px;
}
