@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing : border-box;

}

html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

#mc{
  font-family:'notosanskr';
  font-size:40px;
  font-weight:100;
}
#cr{
  font-weight:200;
  font-size:18px;
}


.body_top{
    display: inline-block;
    float:left;
    margin: 7px;
    margin-right:5px;
    padding-left:15px;
    padding-right:10px;
    padding-top:15px;
}

.body_middle{
    display:inline-block;
    float:right;
    margin:3px;
    margin-top:7px;
    padding-top: 450px;
}

.body_right{
  display:inline-block;
  float:left;
  margin:3px;
  margin-top:7px;
  height:900px;
  width:1500px;
  border-right:1px solid #d6d6d7;
}

.ctrl_house{
  display:inline-block;
  width:1500px;
  margin-bottom:0px;
  font-weight:lighter;
}
.controll_panel1{
  display:inline-block;
  float:left;
  width:50%;


}
.controll_panel2{
  display:inline-block;
  float:left;
  width:44.1%;
  padding-left:3px;

}


#title_renderer{
  background-color:white;
  display: inline-block;
  border-right:1px solid #d6d6d7;
  float:left;
  width:1400px;
  padding-left:10px;
}


.LLL{
    margin-top:8px;
    padding-left:10px;
    background-color:white;
    border-bottom:1px solid #d6d6d7;
    border-right:1px solid #d6d6d7;
  }

.RRR{
    margin-top:8px;
    padding-left:10px;
    background-color:white;
    border-bottom:1px solid #d6d6d7;
    border-right:1px solid #d6d6d7;
  }


#renderer{
    background-color:white;
    font-weight:300;
    overflow:scroll;
    overflow-x:hidden;
    display: inline-block;
    width:1460px;
    padding-left:10px;
    height:800px;
    border-right:1px solid #d6d6d7;
  
  }

  svg{
    width:1440px;
    min-width:1000px;
    height:6000px;
    /*border:1px solid black;*/
  }
  #title_renderer svg{
    
    width:1440px;
    min-width:1200px;
    height:30px;
    /*border:1px solid black;*/
  }
  #title_renderer{
    height:30px;
  }

#controller{
    margin-top:5px;
    margin-bottom:10px;
  }

#Value_w{
    width:400px;
  }
  
#Text_w{
    text-align: center;
    margin-top:10px;
    float:left;
    width:200px;
}  

input{
  width:100px;
  border:0px;
  text-align:center;
}


  /*멀티 슬라이더*/
.ui-slider-horizontal .ui-slider-range{
    width:0%;
  }
  #L_slider-range, #R_slider-range{
    margin-top:25px;
    width:300px;
  }
  .ui-widget-header{
    background:white;
  }
  a {
    text-decoration:none;
  }
  a:visited{
    text-decoration:none;
    color:black;
  }
  
.slide {
    margin-top: 20px;
    margin-left: 20px;
    width: 400px;
    background: red;
}
.slide-back {
    position:absolute;
    height:100%;
}
  

  /* slider */

.right-slide {
    background: #F6D53C !important;
    width: 100px;
    left: 60%;
    position: absolute;
}

.most-right-slide {
  background: #3c6bf6 !important;
  width: 100px;
  left: 30%;
  position: absolute;
}

.right-slide2 {
    background: #F6D53C !important;
    width: 100px;
    left: 60%;
    position: absolute;
}
.ui-slider-range.ui-corner-all.ui-widget-header {
    background : #9FD299;
}
#L_slider-range{
    background : #F39073;
}

#R_slider-range{
    background : #F39073;
}
